@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

:root {

      /* ### Primary */
      --desaturated-red: hsl(0, 36%, 70%);
      --soft-red: hsl(0, 93%, 68%);

      /* ### Neutral */
      --grayish-red: hsl(0, 6%, 24%);

      /* ### Gradients */
      --gradient-1: linear-gradient(135deg, rgba(233, 171, 171, 0.8), hsl(0, 52%, 68%));
      --gradient-2: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 46%, 77%));
}

* {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
}

html {
      font-size: 62.5%;
}

body {
      font-size: 1.6rem;
      font-family: 'Josefin Sans', 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-weight: normal;
      line-height: 1.6;
}

img {
      max-width: 100%;
}

.left-content {
      padding: 3rem 0;
}

.logobox {
      width: 80%;
      margin: 0 auto;
}

.logo {
      width: 35%;
}

.hero-image {
      margin-top: 2rem;
}

.hero-image img {
      width: 100%;
}

.hero {
      padding: 4rem 2.5rem;
      display: grid;
      gap: 2rem;
}

.hero h1 {
      text-align: center;
      text-transform: uppercase;
      line-height: 1.05;
      letter-spacing: 0.5rem;
      font-size: 4.5rem;
      font-weight: 500;
      color: var(--grayish-red, black);
}

.hero span {
      display: block;
      font-weight: 300;
      color: var(--desaturated-red, tomato);
}

.hero p {
      text-align: center;
      color: var(--desaturated-red, tomato);
      font-size: 1.4rem;
}

form {
      position: relative;
}

form input {
      background-color: transparent;
      color: var(--grayish-red, black);
      border: 1px solid var(--desaturated-red, tomato);
      border-radius: 99px;
      width: 100%;
      padding: 1rem 1.8rem;
      font-family: inherit;
}

form input:focus {
      outline: none;
      border-width: 2px;
}

form.error input {
      border: 2px solid var(--soft-red);
}

form input::placeholder {
      color: var(--desaturated-red);
      font-weight: 400;
}

#error {
      display: none;
      position: absolute;
      top: 0;
      right: 9rem;
      transform: translateY(50%);
}

form.error #error {
      display: block;
}

small {
      display: none;
      margin-top: 1rem;
      margin-left: 2rem;
      color: var(--soft-red);
      font-size: 1.4rem;
}

form.error small {
      display: inline-block;
}

button {
      position: absolute;
      top: -.1rem;
      right: 0;
      border: none;
      padding: .9rem 2.5rem;
      border-radius: 99px;
      background-image: var(--gradient-2);
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: .25rem .25rem 1rem var(--desaturated-red);
      transition: all .2s;
}

button:hover {
      cursor: pointer;
      background-image: var(--gradient-1);
      transform: scale(1.1);
}

.right {
      display: none;
}


@media screen and (min-width: 650px) {

      .hero-image {
            display: none;
      }

      .container {
            height: 100vh;
            display: grid;
            grid-template-columns: 60% 40%;
      }

      .logo {
            width: 15rem;
            margin-left: 2.5rem;
      }

      .logobox {
            width: 100%;
            margin-bottom: 6rem;
      }

      .left {
            display: flex;
            align-items: center;
            background-image: url('./images/bg-pattern-desktop.svg');
      }

      .left-content {
            width: 70%;
            margin: 0 auto;
      }

      .hero h1,
      .hero p {
            text-align: left;
      }

      .hero h1 {
            font-size: 5rem;
      }

      .hero p {
            font-size: 1.6rem;
      }

      form {
            width: 90%;
      }

      .right {
            display: block;
            background-image: url(./images/hero-desktop.jpg);
            background-size: cover;
            background-position: left center;
      }
}